@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans+Condensed:wght@300&display=swap');

h1 {
    font-family: Dancing Script;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    margin-top: 15px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #43A047;
}

.hero-image {
    width: 100%;
    margin-top: 20px;
}

.recipe-headline {
    font-family: Dancing script;
}

.form-img {
    width: 100%;
    opacity: 0.5;
}