{% extends "base.html" %}
{% block content %}


<!--recipe title-->
<h1 class="green-text darken-1 center-align">{{ recipe.recipe_name }}</h1>

<!--recipe img-->
<img class="recipe-pic" src="{{ recipe.img_url }}" alt="">

<!--recipe description-->
<div class="description">
    <h4 class="green-text darken-1 center-align">{{ recipe.recipe_description }}</h4>
</div>

<!--recipe ingredients-->
<div class="ingredients">
    <h2 class="green-text darken-1">Ingredients</h2>
    <ul>
        <!-- For each ingredient line -->
        {% for line in recipe.ingredients.splitlines() %}
        <li class="ingredient">
            <p><i class="fas fa-seedling green-text darken-1"></i> {{line}}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<!--recipe instructions-->
<div class="ingredients">
    <h2 class="green-text darken-1">Instructions</h2>
    <ul>
        <!-- For each instruction line -->
        {% for line in recipe.instructions.splitlines() %}
        <li class="instructions">
            <p><i class="fas fa-chevron-circle-right green-text darken-1"></i> {{line}}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="cook-time">
    <h2 class="green-text darken-1">Cook Time:</h2>
    <p><i class="fas fa-clock prefix green-text darken-1"></i> {{ recipe.cook_time }}</p>
</div>

<!--Edit/Delete btn-->
<a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small green accent-4">Edit</a>
<a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red accent-4">Delete</a>








{% endblock %}
