{% extends "base.html" %}
{% block content %}


<!--recipe title-->
<h1 class="green-text darken-1 center-align" style="margin: 20px;">{{ recipe.recipe_name }}</h1>

<!--recipe img-->
<img class="recipe-pic" src="{{ recipe.img_url }}" alt="">

<!--recipe description-->
<div class="description">
    <h4 class="green-text darken-1 center-align" style="margin: 20px;">{{ recipe.recipe_description }}</h4>
</div>

<!--recipe ingredients-->
<div class="ingredients recipe-info">
    <h3 class="green-text darken-1">Ingredients:</h3>
    <ul>
        <!-- For each ingredient line -->
        {% for line in recipe.ingredients.splitlines() %}
        <li class="ingredient">
            <p><i class="fas fa-chevron-circle-right green-text darken-1"></i> {{line}}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<!--recipe instructions-->
<div class="ingredients recipe-info">
    <h3 class="green-text darken-1">Instructions:</h3>
    <ul>
        <!-- For each instruction line -->
        {% for line in recipe.instructions.splitlines() %}
        <li class="instructions">
            <p><i class="fas fa-chevron-circle-right green-text darken-1"></i> {{line}}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="cook-time recipe-info">
    <h3 class="green-text darken-1">Cook Time:</h3>
    <p><i class="fas fa-clock prefix green-text darken-1"></i> {{ recipe.cook_time }}</p>
</div>

<!--Edit/Delete btn-->
<div class="btn-update">
    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small green accent-4">Edit</a>
    <!-- Modal Trigger -->
    <a class="waves-effect red accent-4 btn-small modal-trigger" href="#modal1">Delete</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5>Are you sure you want to delete this Recipe?</h5>
        </div>
        <div class="modal-footer">
            <a href="{{ delete_recipe }}" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
        </div>
    </div>
</div>





{% endblock %}
