{% extends "base.html" %}
{% block content %}

    <section>
        <img class="hero-image" src="https://www.berkeleywellness.com/sites/default/files/field/image/iStock-919666108-2_field_img_intro_774_500.webp" alt=""> 
    </section>

    <section class="featured row">
        <div class="recipe-headline col s12 center-align green-text darken-1">
            <h2>Our Delicious Recipes</h2>
        </div>
			<div class="input-field col s12 right">
				<select id="category_name" name="category_name">
					    <option value="" disabled selected>Choose Category</option>
					    <option value="{{ url_for('get_all', category='all') }}">ALL</option>
					    <option value="{{ url_for('get_all', category='Fat Loss') }}">Fat Loss</option>
					    <option value="{{ url_for('get_all', category='Lean Gains') }}">Lean Gains</option>
					    <option value="{{ url_for('get_all', category='Build Muscle') }}">Build Muscle</option>
					</select>
			</div>
    </section>

    <div class="row">
        {% for recipe in recipes %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
        <a href="{{ url_for('recipe_detail', recipe_id=recipe._id) }}">
          <img src="{{ recipe.img_url }}">
        </a>
        </div>
        <div class="card-content">
            <a href="{{ url_for('recipe_detail', recipe_id=recipe._id) }}">
                <span class="card-title">{{ recipe.recipe_name }}</span>
            </a>
            <div><i class="fas fa-folder-open prefix green-text darken-1"></i>{{ recipe.category_name }}</div>
            <div><i class="fas fa-clock prefix green-text darken-1"></i>{{ recipe.cook_time }}</div>
        </div>
      </div>
    </div>
        {% endfor %}
    </div>



    
    
{% endblock %}

